In [1]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('permityear').getOrCreate()
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [9]:
py = spark.read.csv('Data/stateannualp_202099.csv', header=True, inferSchema=True)
py.show()

+--------------------+-------+------+-------+-------------+---------------+--------------------------------------+
|              Region|  Total|1 Unit|2 Units|3 and 4 Units|5 Units or More|Num of Structures With 5 Units or More|
+--------------------+-------+------+-------+-------------+---------------+--------------------------------------+
|                null|   null|  null|   null|         null|           null|                                  null|
|United States    ...|1451579|977863|  27104|        19061|         427551|                                 15883|
|Northeast Region ...| 134022| 57971|   4340|         3152|          68559|                                  3069|
|New England Divis...|  34683| 19125|   1218|          652|          13688|                                   771|
|Connecticut      ...|   5767|  2938|    136|           39|           2654|                                   124|
|Maine            ...|   5628|  4584|    222|           81|            741|                                    43|
|Massachusetts    ...|  15808|  6443|    526|          344|           8495|                                   498|
|New Hampshire    ...|   3951|  2917|    128|           30|            876|                                    38|
|Rhode Island     ...|   1329|   958|    162|           94|            115|                                    17|
|Vermont          ...|   2200|  1285|     44|           64|            807|                                    51|
|Middle Atlantic D...|  99339| 38846|   3122|         2500|          54871|                                  2298|
|New Jersey       ...|  34968| 12291|   1198|          620|          20859|                                  1021|
|New York         ...|  38113| 10123|   1054|          478|          26458|                                   929|
|Pennsylvania     ...|  26258| 16432|    870|         1402|           7554|                                   348|
|Midwest Region   ...| 198672|129775|   4992|         2540|          61365|                                  2462|
|East North Centra...| 110170| 74461|   2856|         1563|          31290|                                  1509|
|Illinois         ...|  17831|  9719|    392|          501|           7219|                                   267|
|Indiana          ...|  23963| 18531|    614|          170|           4648|                                   206|
|Michigan         ...|  19642| 14959|    350|          183|           4150|                                   306|
|Ohio             ...|  29127| 18743|    538|          605|           9241|                                   432|
+--------------------+-------+------+-------+-------------+---------------+--------------------------------------+
only showing top 20 rows

In [12]:
print((py.count(), len(py.columns)))

(66, 7)

In [13]:
py.printSchema()

root
 |-- Region: string (nullable = true)
 |-- Total: integer (nullable = true)
 |-- 1 Unit: integer (nullable = true)
 |-- 2 Units: integer (nullable = true)
 |-- 3 and 4 Units: integer (nullable = true)
 |-- 5 Units or More: integer (nullable = true)
 |-- Num of Structures With 5 Units or More: integer (nullable = true)